datasets
weights
logs
outputs
TestOut
.idea
.ipynb_checkpoints
__pycache__/

*.png
*.jp[e]g
*.zip
*.tar[.gz]
*.py[cod]
*.pt
*.wav
*.mp4
*.tar.gz

wandb_api_key.txt
swanlab_api_key.txt
dev.ipynb

*.ipynb
.devcontainer
.VSCodeCounter